@*
	Компонент библиотеки Guap.Net8.Web.
	Код не предназначен для редактирования и компиляции во время выполнения!
*@
@page
@using System.Security.Claims
@model Guap.Net8.Web.Areas.Guap.Pages.SSO.AccessDeniedModel
@{
	Current.Page.Title = "Доступ закрыт";

	var claims1 = User.Claims.OrderBy(x => x.Type).AsEnumerable();
}
<p>
	Для получения доступа сообщите администратору идентификатор вашей учетной записи:<br />
	<code class="lead user-select-all">@User.GetNameIdentifierFromClaim()</code>
</p>


<div class="my-5 text-center">
	<img class="img-fluid" style="max-height:25rem;" src="@Current.Options.Errors?.Picture403" alt="" />
</div>

<partial name="_UserInfo.cshtml" />